<ion-content>
  <ion-grid>
    <ion-row class="centrar">

      <ion-col size="4">
        <ion-avatar class="medium-avatar">
          <ion-img
            src="{{datosPerfil.foto}}"></ion-img>
        </ion-avatar>
      </ion-col>

      <ion-col size="8">
        <ion-card-header>
          <ion-card-title>{{datosPerfil.nombre}} {{datosPerfil.apellidos}}</ion-card-title>
          <ion-card-subtitle>{{datosPerfil.puesto}}</ion-card-subtitle>
        </ion-card-header>
      </ion-col>


    </ion-row>

    <ion-row>
      <ion-card class="full-width-card">
        <ion-card-header>
          <ion-card-subtitle><b>Sobre mí</b></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Soy un desarrollador web con experiencia en la creación
          de soluciones digitales eficientes y responsivas, especializándome
          en el uso de tecnologías como HTML, CSS, JavaScript
          y frameworks modernos. Mi enfoque está en ofrecer
          código limpio y escalable, siempre priorizando la
          experiencia de usuario y el rendimiento.
          Me apasiona aprender y aplicar nuevas tecnologías para resolver problemas complejos.
        </ion-card-content>
      </ion-card>
    </ion-row>


    <ion-row>

      <ion-card class="full-width-card">
        <ion-card-header>
          <ion-card-title>Experiencia Laboral</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let e of datosPerfil.experienciaLaboral">
              <ion-avatar>
                <ion-img
                  src="{{e.logoEmpresa}}"></ion-img>
              </ion-avatar>
              <ion-text style="padding-left: 10px">
                <b> {{e.empresa}} - {{e.puesto}}</b>
                <br>
                {{ e.fechaInicio?.substring(0,4) }} - {{e.fechaFin?.substring(0,4)}}
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>


    <ion-row>

      <ion-card class="full-width-card">
        <ion-card-header>
          <ion-card-title>Estudios</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item *ngFor=" let e of datosPerfil.educacion">
              <ion-avatar>
                <ion-img
                  src="https://upload.wikimedia.org/wikipedia/commons/6/63/Logo_Colegio_sin_fondo.png"></ion-img>
              </ion-avatar>
              <ion-text style="padding-left: 10px">
                <b> {{ e.centroEducativo }} - {{e.curso}}</b>
                <br>
                {{ e.fechaInicio?.substring(0,4)  }} - {{ e.fechaFin?.substring(0,4) }}
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <br>

    <ion-row>
      <ion-title> Aptitudes</ion-title>
    </ion-row>

    <ion-row>
      <ion-col style="border: 2px solid #0e6a95;">
        <ion-chip color="primary">JAVA</ion-chip>
        <ion-chip color="secondary">PHP</ion-chip>
        <ion-chip color="tertiary">PYTHON</ion-chip>
        <ion-chip color="success">ANGULAR</ion-chip>
        <ion-chip color="warning">SPRING BOOT</ion-chip>
        <ion-chip color="danger">SQL</ion-chip>
        <ion-chip color="light">HTML</ion-chip>
        <ion-chip color="medium">CSS</ion-chip>
        <ion-chip color="dark">MARIADB</ion-chip>
      </ion-col>
    </ion-row>


    <br>

    <ion-row style="padding-top: 20px;">
      <ion-title><u>Otros Datos</u></ion-title>
    </ion-row>

    <br>
    <ion-row class="centrar">
      <ion-col>
        <ion-checkbox checked="true" disabled="true">B1 Inglés</ion-checkbox>
      </ion-col>
      <ion-col>
        <ion-col>
          <ion-checkbox checked="true" disabled="true">B2 Inglés</ion-checkbox>
        </ion-col>
      </ion-col>
    </ion-row>


    <ion-row class="centrar">
      <ion-col>
        <ion-checkbox checked="true" disabled="true">Carnet de Conducir</ion-checkbox>
      </ion-col>
      <ion-col>
        <ion-col>
        </ion-col>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
