

<ion-grid >
  <ion-row  style="display: flex; justify-content: center; align-items: center;">
    <ion-col size="10">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col size="3" style="align-items: center; display: flex; justify-content: center;">
              <ion-avatar>
                <ion-img src="https://picsum.photos/80/80?random=5"/>
              </ion-avatar>
            </ion-col>
            <ion-col size="9">
              <ion-title style="font-size: 12pt;padding-inline-start: 0;padding-inline-end: 0;text-align: left;"><b>Antonio García</b></ion-title>
              <ion-text style="font-size: 10pt;">Ingeniero Informático en <b>Energy Microsistems</b></ion-text>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-text style="padding-bottom: 10px">Estoy agradecido de haber encontrado trabajo.</ion-text>
          <ion-img
            src="https://img.freepik.com/fotos-premium/cierrese-encima-mano-que-sostiene-contrato-muestra-pluma-documento_10541-1024.jpg"></ion-img>
        </ion-card-content>
      </ion-card>


    </ion-col>

  </ion-row>


  <!-- ----------------------------------------  SE AÑADIRÍA LUEGO CON DIRECTIVAS y DATOS ---------------------------->
  <ion-row  style="display: flex; justify-content: center; align-items: center;">
    <ion-col size="10">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col size="3" style="align-items: center; display: flex; justify-content: center;">
              <ion-avatar>
                <ion-img src="https://picsum.photos/80/80?random=6"/>
              </ion-avatar>
            </ion-col>
            <ion-col size="9">
              <ion-title style="font-size: 12pt;padding-inline-start: 0;padding-inline-end: 0;text-align: left;"><b>Antonio García</b></ion-title>
              <ion-text style="font-size: 10pt;">Ingeniero Informático en <b>Energy Microsistems</b></ion-text>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-text style="padding-bottom: 10px">Estoy agradecido de haber encontrado trabajo.</ion-text>
          <ion-img
            src="https://img.freepik.com/fotos-premium/cierrese-encima-mano-que-sostiene-contrato-muestra-pluma-documento_10541-1024.jpg"></ion-img>
        </ion-card-content>
      </ion-card>


    </ion-col>

  </ion-row>
  <ion-row  style="display: flex; justify-content: center; align-items: center;">
    <ion-col size="10">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col size="3" style="align-items: center; display: flex; justify-content: center;">
              <ion-avatar>
                <ion-img src="https://picsum.photos/80/80?random=7"/>
              </ion-avatar>
            </ion-col>
            <ion-col size="9">
              <ion-title style="font-size: 12pt;padding-inline-start: 0;padding-inline-end: 0;text-align: left;"><b>Antonio García</b></ion-title>
              <ion-text style="font-size: 10pt;">Ingeniero Informático en <b>Energy Microsistems</b></ion-text>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-text style="padding-bottom: 10px">Estoy agradecido de haber encontrado trabajo.</ion-text>
          <ion-img
            src="https://img.freepik.com/fotos-premium/cierrese-encima-mano-que-sostiene-contrato-muestra-pluma-documento_10541-1024.jpg"></ion-img>
        </ion-card-content>
      </ion-card>


    </ion-col>

  </ion-row>


</ion-grid>


