<ion-content>



    <ion-row class="centrar">
      <ion-col size="3"></ion-col>
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="https://picsum.photos/80/80?random=5"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-title>Manolo García</ion-title>
    </ion-row>

    <ion-card>
      <ion-list>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-img src="https://picsum.photos/80/80?random=5"></ion-img>
          </ion-avatar>
          <ion-label class="message-bubble">
            Hola ¿qué tal?
            <br>
            <ion-text style="font-size: 9pt">16:30</ion-text>
          </ion-label>
        </ion-item>


        <ion-item lines="none">
          <ion-avatar slot="end">
            <ion-img src="https://picsum.photos/80/80?random=6"></ion-img>
          </ion-avatar>
          <ion-label class="message-bubble" slot="end">Bien ¿y tú? <br>
            <ion-text style="font-size: 9pt">16:31</ion-text>
          </ion-label>
        </ion-item>


        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-img src="https://picsum.photos/80/80?random=5"></ion-img>
          </ion-avatar>
          <ion-label class="message-bubble">
            Genial , acabo de salir de currar <br>
            <ion-text style="font-size: 9pt">16:32</ion-text>
          </ion-label>
        </ion-item>


        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-img src="https://picsum.photos/80/80?random=5"></ion-img>
          </ion-avatar>
          <ion-label class="message-bubble">
            ¿Nos vemos luego? <br>
            <ion-text style="font-size: 9pt">16:32</ion-text>
          </ion-label>
        </ion-item>


        <ion-item lines="none">
          <ion-avatar slot="end">
            <ion-img src="https://picsum.photos/80/80?random=6"></ion-img>
          </ion-avatar>
          <ion-label class="message-bubble" slot="end">Claro , por mi estupendo <br>
            <ion-text style="font-size: 9pt">16:33</ion-text>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card>


<ion-list>
  <ion-item id="input-chat">
    <ion-input style="color: #0e6a95" placeholder="Escribe algo....">
      <ion-icon slot="end" name="paper-plane-outline" aria-hidden="true" size="large" style="color: #0e6a95"></ion-icon>
    </ion-input>
  </ion-item>
</ion-list>

</ion-content>




