<ion-content>

  <ion-grid>
    <ion-row class="centrar">
      <ion-title style="color: #0e6a95; font-size: 20pt; text-align: center;"> Tus chats</ion-title>
    </ion-row>
    <ion-row>
      <ion-list class="full-width-card">


        <ion-item *ngFor="let c of chats">
          <ion-avatar slot="start">
            <ion-img src="{{c.perfilDTO?.foto}}"></ion-img>
          </ion-avatar>
          <ion-label>{{ c.perfilDTO?.nombre }} {{ c.perfilDTO?.apellidos }}</ion-label>
          <ion-label>
            <p>{{ c.mensaje }}</p>
            <p style="font-size: 8pt">{{ c.fecha?.substring(11,16) }}</p>
          </ion-label>
          <ion-icon slot="end" name="paper-plane-outline" style="color: #0e6a95"  (click)="goToPersonalChat(c.contacto)"></ion-icon>
        </ion-item>


      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>

