<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar color="light" placeholder="Busca algo..."></ion-searchbar>
      </ion-col>
      <ion-col class="centrar">
        <ion-label style="color: #0e6a95">Provincia</ion-label>
        <ion-select aria-label="Selecciona" value="" style="padding-left: 15px">
          <ion-select-option value="apple">Todas</ion-select-option>
          <ion-select-option value="banana">Sevilla</ion-select-option>
          <ion-select-option value="orange">Málaga</ion-select-option>
          <ion-select-option value="orange">Madrid</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>





    <ion-grid *ngFor="let oferta of ofertasEmpleo">

      <ion-row>
        <ion-card class="full-width-card">
          <ion-card-content>
            <ion-item lines="none">
              <ion-row class="centrar full-width-card ">
                <ion-col size="3">
                  <ion-avatar style="width: 60px; height: 60px;">
                    <ion-img
                      src="{{oferta.empresa?.foto}}"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col size="9">
                  <ion-text style="padding-left:0">
                    <b>{{ oferta.titular }}</b>
                    <br>
                    <p style="font-size: 8pt; color: #0e6a95;"><b>{{ oferta.empresa?.nombre }}</b></p>
                    {{ oferta.puesto }}
                    <br>
                    {{ oferta.remuneracionMinima }} - {{ oferta.remuneracionMaxima }}
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-button color="principal" (click)="inscribirseAOferta(oferta.id)">Inscribirse</ion-button>
                <ion-button color="principal" (click)="visibilidad(oferta)">Ver Datos</ion-button>
              </ion-row>
            </ion-item>
          </ion-card-content>
        </ion-card>

      </ion-row>


          <!-- Contenido oculto -->
          <ion-row *ngIf="oferta.visibilidad">
            <ion-card class="full-width-card">
              <ion-card-content>
                <div [innerHTML]="oferta.requisitos"></div>
              </ion-card-content>
            </ion-card>
          </ion-row>


    </ion-grid>



  </ion-grid>
</ion-content>
