<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4"  class="centrar">
            <ion-icon name="home-outline" size="large" style="color:#0e6a95" routerLink="home"></ion-icon>
        </ion-col>
        <ion-col size="4" class="centrar">
          <ion-icon name="person-outline" size="large" style="color:#0e6a95" routerLink="perfil"></ion-icon>
        </ion-col>
        <ion-col size="4" class="centrar">
          <ion-icon name="chatbubbles-outline" size="large" style="color:#0e6a95" routerLink="chats"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
