<ion-content>
  <ion-grid>

    <br>
    <ion-row class="centrar">
      <ion-title style="color: #0e6a95; text-align: center; font-size: 20pt;">Perfiles</ion-title>
    </ion-row>
    <br>
    <ion-row class="centrar">
      <ion-searchbar color="light" placeholder="Busca algo..." (ionInput)="buscarPerfiles($event)"></ion-searchbar>
    </ion-row>


    <ion-row>
      <ion-col size="4" *ngFor="let perfil of perfiles">
        <ion-card class="full-width-card">
          <ion-row class="centrar"
                   style="background-color:#0e6a95">
            <ion-avatar style="width: 80px; height: 80px; border: 2px solid #0e6a95; background-color:#ffffff">
              <ion-img src="{{perfil.foto}}">
              </ion-img>
            </ion-avatar>
          </ion-row>
          <ion-row class="centrar">
            <ion-card-header class="centrar">
              <ion-card-title style="color: #0e6a95; font-size: 9pt">{{perfil.nombre}}<br>{{perfil.apellidos}}</ion-card-title>
            </ion-card-header>
          </ion-row>
          <ion-row class="centrar" style="margin-top: -20px">
            <ion-card-content class="centrar">
              <ion-text style="color: #0e6a95; font-size: 6pt;">
                {{perfil.mail}}
              </ion-text>
            </ion-card-content>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
