/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';




ion-content {
  --padding-top: 70px; /* Ajusta este valor según la altura de tu navbar */
  --keyboard-offset: none !important;
}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-label {
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Asegura que el texto esté alineado */
  height: 100%; /* Asegúrate de ocupar todo el espacio disponible si es necesario */
}

.medium-avatar {
  border: 2px solid #0e6a95;
  width: 130px;
  height: 130px;
}

.full-width-card {
  width: 100%;
  box-sizing: border-box; /* Asegura que el ancho incluya el padding y borde */
}

ion-col{
  margin-top: 10px;
}

.message-bubble {
  background-color: #0e6a95; /* Color azul para la burbuja */
  color: #f6f7f9 !important;
  padding: 10px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}



:root {
  --ion-color-principal: #0e6a95;
  --ion-color-principal-rgb: 14,106,149;
  --ion-color-principal-contrast: #ffffff;
  --ion-color-principal-contrast-rgb: 0,0,0;
  --ion-color-principal-shade: #96c2d2;
  --ion-color-principal-tint: #549cc4;
}

:root {
  --ion-color-sprincipal: #96c2d2;
  --ion-color-sprincipal-rgb: 14,106,149;
  --ion-color-sprincipal-contrast: #ffffff;
  --ion-color-sprincipal-contrast-rgb: 0,0,0;
  --ion-color-sprincipal-shade: #549cc4;
  --ion-color-sprincipal-tint: #0e6a95;
}

.ion-color-principal {
  --ion-color-base: var(--ion-color-principal);
  --ion-color-base-rgb: var(--ion-color-principal-rgb);
  --ion-color-contrast: var(--ion-color-principal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-principal-contrast-rgb);
  --ion-color-shade: var(--ion-color-principal-shade);
  --ion-color-tint: var(--ion-color-principal-tint);
}

.ion-color-sprincipal {
  --ion-color-base: var(--ion-color-sprincipal);
  --ion-color-base-rgb: var(--ion-color-sprincipal-rgb);
  --ion-color-contrast: var(--ion-color-sprincipal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sprincipal-contrast-rgb);
  --ion-color-shade: var(--ion-color-sprincipal-shade);
  --ion-color-tint: var(--ion-color-sprincipal-tint);
}





:root {
  --ion-color-claro: #f0f9f8;
  --ion-color-claro-rgb: 240,249,248;
  --ion-color-claro-contrast: #000000;
  --ion-color-claro-contrast-rgb: 0,0,0;
  --ion-color-claro-shade: #d3dbda;
  --ion-color-claro-tint: #f2faf9;
}

.ion-color-claro {
  --ion-color-base: var(--ion-color-claro);
  --ion-color-base-rgb: var(--ion-color-claro-rgb);
  --ion-color-contrast: var(--ion-color-claro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-claro-contrast-rgb);
  --ion-color-shade: var(--ion-color-claro-shade);
  --ion-color-tint: var(--ion-color-claro-tint);
}

.modal{
  --padding-top: 0px !important;
  --padding-bottom: 0px !important;
  --box-sizing: border-box !important;
}

:root {
  --ion-color-blanco: #ffffff;
  --ion-color-blanco-rgb: 255,255,255;
  --ion-color-blanco-contrast: #000000;
  --ion-color-blanco-contrast-rgb: 0,0,0;
  --ion-color-blanco-shade: #e0e0e0;
  --ion-color-blanco-tint: #ffffff;
}

.ion-color-blanco {
  --ion-color-base: var(--ion-color-blanco);
  --ion-color-base-rgb: var(--ion-color-blanco-rgb);
  --ion-color-contrast: var(--ion-color-blanco-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blanco-contrast-rgb);
  --ion-color-shade: var(--ion-color-blanco-shade);
  --ion-color-tint: var(--ion-color-blanco-tint);
}

.custom-outlet {
  height: calc(100vh - 60px); /* 100% de la ventana menos 60px */
}

